@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-200 {
  max-height: 200px; /* Или укажите большее значение, если нужно */
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

.overflow-hidden {
  overflow: hidden;
}

.max-h-0 {
  max-height: 0;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}



.my-custom-tree-class {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: rebeccapurple;
}
